body{background-color: #F0EFE2}

.welcome{text-align: center;padding-bottom: 10%;}
.navbar-inverse .navbar-brand{color:#F0EFE2;font-weight:bold;}
.navbar{
	/*Border's Shadow*/
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#time{display: inline}
#usrtime{display: none}
#changeTimebtn{display: inline; margin-left: 15px;}
#showTimebtn{display: none;margin: 10px 0 0 60px;}

#date{display: inline}
#usrdate{display: none}
#changeDatebtn{display: inline; margin-left: 1px;}
#showDatebtn{display: none;margin: 10px 0 0 60px;}

.alert{display: none}
.submitted{margin:10% 0;}
p{margin-left: 10px;}

/************************************************************/
/*						Emoticon CSS						*/
/************************************************************/
.sad, .happy, .bored, .exciting, .scare, .safe, .angry, .peace{
	width: 12%;
	height: 0;
	padding-bottom: 20%;
	background-position: 0 0;
	background-size: 100%;
	display:block;
	background-repeat: no-repeat;
}
.sad, .bored, .scare, .angry{margin-right: 20px}
.happy, .exciting, .safe, .peace{}

.sad {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/sad.png");
}

.happy {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/happy.png");
}

.bored {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/bored.png");
}

.exciting {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/exciting.png");
}

.scare {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/scare.png");
}

.safe {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/safe.png");
}

.angry {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/angry.png");
}

.peace {
background-image: url("http://numbat.cs.rmit.edu.au/~s3407672/labsurvey/css/emo/peace.png");
}